select {
	width: 130px;
	height: 100px;
	margin: 0px 125px;
}

button {
	background: #FF9819;
	color: white;
	border: solid 2px #FF9819;
	font-weight: bold;
	border-radius: 4px;
	width: 100px;
	position: absolute;
	left: 350px;
}

#add {
	top: 20px;
}

#remove {
	top: 60px;
}